/* Navbar styles */
.navbar {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  font-family: 'BreeSerif', sans-serif; 
}

.navbar-home .brand {
  color: #EBE9E9 !important;
}

.navbar-home .navbar-nav .nav-link {
  color: #EBE9E9 !important;
}
.navbar-home .navbar-nav .nav-link:hover {
  color: var(--anshorange) !important;
}

/* Other page navbar styles */
.navbar-other {
  background-color: var(--pagecolor)!important;
  box-shadow: #EBE9E9 !important;
}
.navbar-other .brand {
  color: var(--textcolor) !important;
}
.resume-link{
  color: var(--textcolor) !important;
}
.navbar-nav .nav-link{
  color: var(--textcolor);
}

.navbar-light .navbar-nav .nav-link:not(.brand):hover {
  color: var(--anshorange); 
}

/* Active link and hover effect for all nav-links */
.navbar-light .navbar-nav .active > .nav-link:not([href="/Ansh_Film_ResumeNEW.pdf"]),
.navbar-light .navbar-nav .nav-link.active:not([href="/Ansh_Film_ResumeNEW.pdf"]),
.navbar-light .navbar-nav .nav-link.show:not([href="/Ansh_Film_ResumeNEW.pdf"]),
.navbar-light .navbar-nav .show > .nav-link:not([href="/Ansh_Film_ResumeNEW.pdf"]) {
  color: var(--anshorange);
}


.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
} 

/* Fixed top navbar styles */
.fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030;
}
/* Hover effect for Ansh Pathapadu on non-homepage */
.navbar-other .brand:hover .brand-text {
  color: var(--anshorange); 
}
/* Transparent background */
/* .bg-transparent {
  background-color: white !important;
} */

/* .navbar-home .brand-text{
  color: #EBE9E9 !important;
} */

/* Home page navbar styles */
/* .navbar-home {
  background-color: transparent !important;
  color: #EBE9E9 !important;
} */

/* White background */
/* .bg-white {
  background-color: black !important;
} */

/* Specific styles to ensure the resume link does not change color */
/* .navbar-nav .nav-link[href="/AnshFilmResume.pdf"] {
  color: inherit !important;
  text-decoration: none;
} */
/* .navbar-nav .nav-link[href="/AnshFilmResume.pdf"]:hover {
  color: #FF6201 !important; 
  text-decoration: underline;
  text-decoration-color:#FF6201; 
}

.navbar-nav .nav-link[href="/AnshFilmResume.pdf"]:focus {
  color: inherit !important;
}

.navbar-nav .nav-link[href="/AnshFilmResume.pdf"]:active {
  color: inherit !important;
}

.navbar-nav .nav-link[href="/AnshFilmResume.pdf"]:visited {
  color: inherit !important;
} */

/* Hover effect for Projects and About */
/* .navbar-light .nav-link:hover {
  color: #FF6201; 
} */
